<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students Records</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid p-3 mb-2">
    <h1 class="display-5">Students Records</h1>
    <a href="add.php" class="btn btn-primary">Add a Student</a>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Student ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>						
                    <th>Birthdate</th>
                    <th>Address</th>
                    <th>Program</th>
                    <th>Contact Number</th>
                    <th>Emergency Contact</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {{#result}}
                <tr class="table-active">
                    <td>{{ studentId }}</td>
                    <td>{{ firstName }}</td>
                    <td>{{ lastName }}</td>
                    <td>{{ birthdate }}</td>
                    <td>{{ address }}</td>
                    <td>{{ program }}</td>
                    <td>{{ contactNumber }}</td>
                    <td>{{ emergencyContact }}</td>
                    <td><a href="edit.php?studentId={{studentId}}" class="btn btn-primary">EDIT</a>
                        <a href="delete.php?studentId={{studentId}}" class="btn btn-danger" onclick="return confirm('Are you sure you want to remove this record?')">DELETE</a></td>
               
                </tr>
            {{/result}}
            </tbody>
        </table>
    </div>
</body>
</html>